.earnings-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 0.75rem; /* Borde redondeado */
}

.card-header {
    border-radius: 0.75rem 0.75rem 0 0; /* Borde redondeado solo en la parte superior */
}

.card-body {
    padding: 2rem; /* Aumentar el padding para una mejor apariencia */
}

h3.display-4 {

    font-weight: bold;
}

.table th {
    background-color: #f8f9fa; /* Color de fondo de la cabecera */
}

.table th, .table td {
    vertical-align: middle; /* Alineación vertical centrada */
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Color de fondo al pasar el mouse */
}
