<div class="container mt-5">
    <h2 *ngIf="!userVerified" class="text-center text-primary mb-4">Verificar Usuario</h2>

    <form [formGroup]="verifyForm" (ngSubmit)="verifyUser()" *ngIf="!userVerified" class="border p-4 rounded shadow-lg bg-light"
        style="max-width: 400px; margin: auto;">
        <div class="mb-3">
            <label for="emailOrUsername" class="form-label">Email o Username</label>
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-person"></i></span>
                <input id="emailOrUsername" type="text" formControlName="emailOrUsername" class="form-control" required
                    placeholder="Ingresa tu email o nombre de usuario" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Verificar</button>
    </form>

    <div *ngIf="userVerified" class="mt-4">
        <h2 class="text-center text-primary">Cambiar Contraseña</h2>
        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()" class="border p-4 rounded shadow-lg bg-light"
            style="max-width: 400px; margin: auto;">
            <div class="mb-3">
                <label for="newPassword" class="form-label">Nueva Contraseña</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input id="newPassword" [type]="showPassword ? 'text' : 'password'" formControlName="newPassword"
                        class="form-control" required placeholder="Ingresa tu nueva contraseña" />
                    <span class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer;">
                        <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                    </span>
                </div>
                <div *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched"
                    class="text-danger">
                    La contraseña es obligatoria y debe tener al menos 6 caracteres.
                </div>
            </div>

            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input id="confirmPassword" [type]="showPassword ? 'text' : 'password'"
                        formControlName="confirmPassword" class="form-control" required (input)="validatePasswords()" />
                    <span class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer;">
                        <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                    </span>
                </div>
                <div *ngIf="passwordsMismatch && passwordForm.get('confirmPassword')?.touched" class="text-danger mt-1">
                    <i class="bi bi-exclamation-circle-fill me-1"></i>
                    Las contraseñas no coinciden.
                </div>
            </div>

            <button type="submit" class="btn btn-success w-100" [disabled]="passwordsMismatch || passwordForm.invalid">
                Cambiar Contraseña
            </button>
        </form>
    </div>

    <!-- Modal para Notificaciones -->
    <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notificationModalLabel">Notificación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
                    <div *ngIf="!errorMessage && userVerified" class="text-success">Contraseña cambiada exitosamente.</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

