<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm custom-navbar">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <i class="bi bi-car-front-fill me-2"></i>
      <span class="brand-name">Park</span><span class="text-warning">Easy</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="bi bi-menu-button-wide"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <ng-container *ngIf="!isAuthenticated">
          <li class="nav-item">
            <a class="nav-link custom-link" routerLink="/login">
              <i class="bi bi-box-arrow-in-right"></i> Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link custom-link" routerLink="/register">
              <i class="bi bi-person-plus-fill"></i> Register
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="isAuthenticated">
          <ng-container *ngIf="isAdmin">
            <li class="nav-item">
              <a class="nav-link custom-link" routerLink="/dashboard">
                <i class="bi bi-speedometer2"></i> Admin Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link custom-link" routerLink="/manage-users">
                <i class="bi bi-people-fill"></i> Manage Users
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle custom-link" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-grid-fill"></i> Admin Options
              </a>
              <ul class="dropdown-menu dropdown-menu-end shadow custom-dropdown" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" routerLink="/adminReservas">
                    <i class="bi bi-grid-fill me-2"></i> List Reserves
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/adminSpaces">
                    <i class="bi bi-p-circle me-2"></i> Spaces
                  </a>
                </li>
              </ul>
            </li>
          </ng-container>
          <ng-container *ngIf="!isAdmin">
            <li class="nav-item">
              <a class="nav-link custom-link" routerLink="/map">
                <i class="bi bi-pin-map"></i> Mapa
              </a>
            </li>
          </ng-container>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle custom-link" href="#" id="navbarDropdownUser" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person-fill"></i> {{ username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow custom-dropdown" aria-labelledby="navbarDropdownUser">
              <li>
                <a class="dropdown-item" routerLink="/myProfile">
                  <i class="bi bi-person-circle me-2"></i> My Profile
                </a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item text-danger cursor-pointer" (click)="logout()">
                  <i class="bi bi-box-arrow-right me-2"></i> Logout
                </a>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>