/* Navbar container */
.custom-navbar {
  background: linear-gradient(135deg, #002050, #0557c9);
  padding: 0.5rem 0; /* Reducido para hacerla más delgada */
  font-size: 0.9rem; /* Tamaño de texto ligeramente más pequeño */
  transition: background-color 0.3s ease-in-out;
}

/* Navbar brand and icon */
.navbar-brand {
  font-weight: 600;
  font-size: 1.1rem; /* Menor tamaño de fuente para hacerla más delgada */
  color: #ffffff;
  display: flex;
  align-items: center;
}

.navbar-brand i {
  font-size: 1.3rem; /* Íconos más pequeños para que no se vean tan pesados */
}

.brand-name {
  margin-left: 0.2rem;
}

.navbar-toggler {
  border: none;
}

/* Links in navbar */
.custom-link {
  color: #ffffff;
  font-weight: 500;
  padding: 0.4rem 0.8rem; /* Menor padding para hacerla más delgada */
  border-radius: 4px;
  transition: color 0.3s, background-color 0.3s;
}

.custom-link:hover,
.custom-link:focus {
  color: #ffffff;
  background-color: #e0d205;
  text-decoration: none;
}

/* Dropdown menu */
.custom-dropdown {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  font-size: 0.85rem;
  padding: 6px 12px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f1f5f9;
  color: #0056d6;
}

.dropdown-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .custom-link {
    padding: 0.3rem 0.7rem;
  }

  .navbar-brand {
    font-size: 1rem;
  }
}
