.card-hover {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    /* Cambia el cursor a una mano */
}

.card-hover:hover {
    transform: scale(1.05);
    /* Efecto de escalado al pasar el mouse */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    /* Efecto de sombra al pasar el mouse */
}